*
{
    margin:0;
    padding: 0;
}
body
{
    width: 100vw;
    height: 100vh;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 7;
    font-style: normal;      
    background-image: url("../img/stars-964022_1920.png");    
}


#outro
{
    color:white;
    h1,h2{
        text-align: center;
        margin:1rem auto;
    } 
    animation: pop-in 3s ease-in-out 360s forwards;
    opacity: 0;
    img
    {
        animation: pop-in 3s ease-in-out 60s forwards;
        opacity: 0;    
    }
}
#history
{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:clamp(80%,600px,85%);
    margin:0 auto;
    top:10rem;
    background-color: rgba(255,255,255,0.1);
    article
    {
        flex-direction: column;
        width:50%;
        align-items: center;
        img
        {
            display: block;
            margin:0 auto;
            animation: pop-in 3s ease-in-out 1s forwards;
            opacity: 0;        
        }
    }
    p
    {
        padding:2rem;
    }
}

@keyframes pop-in {
    20% {
        top:5rem;
        opacity: 1;
    }
    100% {
        top:5rem;
        opacity: 1;
    }

}

section
{
    margin-top:10rem;
}
.intro
{
    position:absolute;
    top:45%;
    left:35%;
    z-index: 2;
    h2{
        color:#26BBE2;
        font-size: 600;
    }    
    animation: intro 6s ease-out 1s;
    opacity: 0;
}
@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#title
{
    color:#ffbf01ff;
    position: absolute;
    top: 23%;
    left: 45%;
    z-index: 1;
    margin: auto;
    animation: title 9s ease-out 9s;
    opacity: 0;
    h2
    {
        margin: 2rem auto;
    }
}

.slider
{
    display: flex;
    justify-content: space-around;
    width:90%;
    margin:0 auto;
    img
    {   
        aspect-ratio: 1;
        max-width: 30vw;
        animation: pop-in 3s ease-in-out 60s forwards;
        opacity: 0;    
    }
}
@keyframes title {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(30vh) rotateX(15deg);
    transform-origin: 50% 100%;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 550%;    
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
    p,h2,h3{
        font-size: 3em;
    }
  }
  
  #board:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  #content {
    animation: scroll 280s linear 16s;
    position: absolute;
    top: 100%;
    color:#ffbf01ff;
    font-size: 34px;
    p
    {
        margin: 2rem 2rem;
    }
    h3
    {
        margin:auto 2rem;
    }
  }
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -170%;
      }
  }
  